.content {
    width: 600px;
    left: 50%;
    position:absolute;
    margin-left: -300px;
}

.subscription_form {
    width:400px;
}

.submit {
    display:block;
    text-align:right;
}

.label_box {
    display:inline-block;
}

.label_icon {
    display:inline-block;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 3px;
    margin: 10px;
}

.submit_button_box {
    display:inline-block;
    padding: 3px;
    margin: 10px;
}


.hide {
    display: none !important;
}

div.standard_label {
		display:none;

    width: 500px;
    height: auto;
    background-color: white;
    z-index:100;
    padding: 5px;
    text-align: center;
    font-family:arial;

}

div.standard_label  h1,
div.standard_label  h2,
div.standard_label  h3,
div.standard_label  h4,
div.standard_label  h5,
div.standard_label  h6{
    margin:0;
}

table.terms {
    /*border-collapse: collapse;*/
    /*border-top: thin black solid;*/
    border: 1px solid black;
}

.odd {
    background-color: #def;
}

.odd td {
    border-bottom: 1px solid #cef;
}

td {
    padding: 5px;

}

td.left {
    text-align:right;
    font-weight:bold;
    border-right: thin solid #6187ff;
    width: 200px;
}

td.right{
    text-align:left;
    font-weight:normal;
}

#test_tooltip{
    position: relative;
    top:100px;
}

/* popup styling */
a.related_agreement {
	display:block;
}

td#third_party_ratings{
	position:relative;
}
div.services {
	height: 40px;
}
div.ratings {
	position:absolute;
	z-index: 10;
}
iframe.rating {
	border:none; 
	display:none;
	position:absolute;
	top: 0;
	background-color: white;
	height: 70px;
}
iframe.rating.active,
iframe.rating.over {
	display: block !important;
}

div.third_party {
	position:relative;
	display:inline-block;
	width: 32px;
	height: 32px;
	margin: 4px;
	background-color: white;
}

div.third_party img{
  position:absolute;
	display:inline-block;
	width: 32px;
	height: 32px;
}

html {
	height: 1200px;
}
